@inherits LayoutComponentBase

<div class="container-fluid">
    <row class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </row>
</div>

<style>
    body {
        background: url('images/background/bg5.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>