<SfDialog Width="350px" IsModal=true ShowCloseIcon=true @bind-Visible=IsVisible>
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>@Title Country</Header>
        <Content>
            <EditForm Model="Country" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input class="form-control" @bind="Country.Id" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText class="form-control" @bind-Value="Country.Name" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Save" Type="ButtonType.Submit" IsPrimary=true OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public  Country Country { get; set; } = new();
    [Parameter] public EventCallback<Country> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    async void Save()
    {
        if (string.IsNullOrEmpty(Country.Name))
        {
            await dialogService.AlertAsync("You Need to provide Country Name", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(Country);
        }
    }
    public void ChangeTitle(string title)
    {
        Title = title;
    }
}
